<p>Kính gửi Thầy/Cô <strong><%= to_name ;%></strong>,</p>

<p>Thầy/Cô có lịch học của khoá "<%= course_name %>" sắp diễn ra lúc <%= recurrence_datetime %> <strong>MavenPath Education</strong>.</p>

<p>Thông tin zoom:</p>
<ul>
    <li>Zoom ID: <%= zoom_meeting_id %></li>
    <li>Zoom Password: <%= zoom_password %></li>
    <li>Link mở phòng: <%= zoom_start_url %></li>
    <li>Lưu ý: Cần đăng nhập với tài khoản giảng viên đã tạo khoá học</li>
</ul>

<p>Chúc thầy/cô có những bài giảng đầy nhiệt huyết.</p>
<p>Trân trọng,</p>
<p>@<span style="text-transform: uppercase;"><strong>MavenPath Education</strong></span></p>
